.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: #F1F6F9;
}

/* New styles */
.Background {
  background-color: #F1F6F9;
  min-height: 100vh;
}

.NavBar {
  background-color: #14274E;
  color: #FFFFFF;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.Button {
  background-color: #394867;
  color: #FFFFFF;
  border-color: #394867;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  width: 165px;
  height: 39px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 15px;
}

.SubWindow {
  background-color: #9BA4B4;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.profileImg{
  border: 2px solid #9BA4B4;
  margin: auto;
}